.container {
  text-align: center;
  margin-top: 100px;
}
#test {
  color: blue;
}
#picHome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}
#enter {
  margin-bottom: 100px;
}
#toDo {
  font-size: 70px;
  font-family: "Abel", sans-serif;
  color: #86a5c4;
}
#toDo1 {
  font-size: 70px;
  font-family: "Abel", sans-serif;
  color: #ffc6cf;
}
#toDo2 {
  font-size: 70px;
  font-family: "Abel", sans-serif;
  color: #86a5c4;
}
